# Project build output
obj/
build/

# Editor backup files
*~
*.swp

# Log files
*.log

# Clangd
compile_flags.txt
compile_commands.json

# Profiling outputs (gprof & perf)
*.gprof
*.prof
gmon.out
perf.data*

# Valgrind output files
vgcore.*
valgrind.log*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.dwo
